*
{
    margin:0;
}
.parent
{
 display:inline-block;
 background-color:black;
 width:200px;
 height:200px;
 padding:10px;
 margin:30px;
}
.content
{
    
 background-color:pink;
 width:200px;
 height:200px;
 }