body{
    background-color:lightblue;
}
h1
{
   font-family: Georgia, 'Times New Roman', Times, serif;
   
   font-size: 2em;
   text-align: center;
}
img
{
  
    height:150px;
    width:200px;
    margin-top: 20px;
}
.parent
{
    text-align: center;
}
.parent1
{
    margin-top:10px;
    background-color:lightcoral;
    text-align: center;
    display:flex;
    height:200px;
    width:400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
   align-items:center;
   margin-right: 400px;
   margin:auto;
   padding:2px;
   font-weight: bold;
}
/*button
{
    background-color: turquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin-right: 200px;
}*/

button
{
    background-color:aqua;
    border:3px solid deeppink;
   border-radius: 10px;
   cursor:pointer;
   padding:8px;
   font-weight: bold;
   color:white;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}
button:hover{
    background-color:yellowgreen;
}