body{
    background-color:rgb(78,78,245);
    font-family:Arial ;
    color:white;
}
h1{
    /*color:#ffffff;*/
    font-family: monospace;
    font-size: 50px;
}

p{
    /*color:white;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight:bold ;
    font-style: italic;
}
input{
    width:100%;

}
button{
    border:2px dotted white;
    background-color: coral;
    color:white;
    border-radius:6em;
    }
    h2{
        font-size: 50px;
    }
